body {
  max-width:100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
  font-family: "Roboto", sans-serif;
  /* background-color: #898E8C; */
  background-color: white;
}
/* .navbar {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  width: 100%;
  height: 50px;
  min-height: 100px;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  align-self: center;
}

.navbar li {
  margin: 0 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.navbar li:nth-child(2) {
  margin-top: -10px;
  margin-right: 70px;
}
.logo img {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
} */
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 65px;
  /* background:  linear-gradient(to right, #0f2027, #203a43, #2c5364);    */
  background: white;
  text-align: right;
  padding-top: 20px;
  }
  .content {
  margin-top: 20px;
  }
  .fixed-nav-bar li, .fixed-nav-bar a { 
  height: 10px;
  line-height: 10px;
  }
  .menu-items {
  display: inline-block;
  padding-right:  100px;
  }
  .menu-items li {
  display: inline-block;  
  margin-right: 2px;
  margin-left: 2px;
  }
  .menu-items a {
  text-decoration: none;
  font-size: 15px;
  /* color: white; */
  color: black;
  border: 1px solid;
  padding: 10px 10px 10px 10px;
  border-width: 2px;
  border-radius: 5px;
  &:hover {
  color:#0fbcf9;
    }
  }
  .menu-items a :hover{
  opacity: 1;
  color: #0fbcf9 ;
  }
  img{
  display: block;
  max-width: 45%;
  max-height: 45%;
  margin-left: auto;
  margin-right: auto;
    }
.logo{
  max-width: 50%;
  max-height: 50%;
  border-radius: 50%;
  float: left;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  align-self: center;
  padding-left: 150px;
  /* padding-top: 10px; */
}
.buttons {
  /* background-color: white; */
  background-color: black;
  padding: 7px 17px;
  /* color: white; */
  color:black;
  display: flex;
  flex-direction: row;
  border-radius: 3px;
}

.main {
  max-width: 100%;
  margin-top: -100px;
  background-size: cover;
  align-items: center;
  overflow-x: hidden;
  justify-content: center;
  display: flex;
  background-position: center;
  min-height: 710px;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(WEB.png); */
}

.area {
  color: rgb(0, 0, 0);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10rem;
}

.area h1 {
  font-size: 60px;
  word-spacing: 15px;
  line-height: 75px;
  font-family: 'Courier New', Courier, monospace;
}

.area h3 {
  margin-top: -30px;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: normal;
  font-family:Helvetica;
}
.area p {
  margin-top: -10px;
  font-size: 15px;
  letter-spacing: 1px;
  font-family:Helvetica;
}

.search {
  width: 150%;
  background-color: none;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-top: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.box {
  width: 100%;
  min-height: 65px;
}

.try {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #e50914;
  min-height: 70px;
  width: 70%;
  font-size: 30px;
  text-transform: uppercase;
}

.area h4 {
  margin-top: 10px;
  font-weight: normal;
}
.container1 {
  max-width: 100%;
  height: 560px;
  /* background:  linear-gradient(to right, #0f2027, #203a43, #2c5364); */
  background: white;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
}

.container1 .pic {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 150px;
  margin-right: 100px;
  font-size: 20vw;
}

.container1 img {
  display: flex;
  justify-content: center;
  flex-direction: row;
  object-fit: contain;  
  object-position: center;
  border: 5px solid #0fbcf9;
  box-shadow: 5px 7px #666;
  align-self: center;
  max-width: 100%;
  height: 350px;
  font-size: 20px;
  border-radius: 5px;
}

.container1 .image {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-self: center;
  object-fit: contain;
  margin: 0px 100px 0px 100px;
  font-size: 20px;
}

.text {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: center;
  align-content: center;
  margin: 0px 0px 0px 200px;
}

.tex {
  color: black;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: flex-start;
  align-self: center;
  align-content: center;
  /* margin: 0px 0px 0px 130px; */
  font-size: 20px;
}

.text p {
  font-size: 1.5rem;
  margin-top: 5px;
}

.text h1 {
  font-size: 3.125rem;
}
.text{
  font-size: 20px;
} 

.question {
  width: 100%;
  /* min-height: 800px; */
  /* background:  linear-gradient(to right, #0f2027, #203a43, #2c5364); */
  background: white;
  /* margin-top: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; 
}

.question h1 {
  text-align: center;
  color: black;
  margin-bottom: 5rem;
  text-align: center;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
}

.quest {
  width: 51%;
  min-height: 75px;
  background-color: #898E8C;
  color: black;
  align-items: center;
  justify-content: space-between;
  display: flex;
  text-align: left;
  flex-direction: row;
  margin: 5px 0;
}

.quest .textbox {
  display: flex;
  text-align: left;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-self: center;
  font-size: 25px;
  margin: 0 30px;
  word-spacing: 5px;
  text-align: left;
}

.quest i {
  margin: 0 30px;
  font-size: 40px;
  color: black;
}

.quest:focus {
  background-color: #898E8C;
}

.search1 {
  width: 50%;
  background-color: none;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-top: 10px;
}

.box1 {
  width: 100%;
  min-height: 65px;
}

.try1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color:  #03474F;
  min-height: 70px;
  width: 70%;
  color: black;
  font-size: 30px;
  margin: 50px 0;
  text-transform: uppercase;
}

.question h4 {
  color: black;
  margin-top: -20px;
  padding-bottom: 40px;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 5px;
  /* background:  #2c5364; */
  background: transparent;
  flex-wrap: wrap;
  align-items:center;
  justify-content:space-around;
  /* color: white; */
  color: black;
  padding-bottom: 10px;
  font-weight: 600;
}

.footercon {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: left;
  align-items: last baseline;
  flex-wrap: wrap;
  background-color: transparent;
}

.footer .flex1 {
  color:black;
  justify-content:space-around;
  align-items:flex-start;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  width:100%;
  font-size: 17px;
  min-height: 30px;

}

.footer .flex1 h5 {
  align-self:flex-start;
}

/* .list1 {
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-items: flex-start;
  align-self: center;
  justify-content: center;
  min-height:50px;
  font-size: 13px;
  padding: 0px 70px;
  text-align: left;
}

.list1 li {
  font-size: 13px;
  margin: 7px -10px;
  list-style-type: none;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-items: center;
  align-self: flex-start;
  justify-content: center;
}

.list1 li a {
  color: #999;
  text-decoration: none;
  font-size: 14px;
}

li a {
  font-size: 13px;
  text-align: center;
  color: #999;
}
 */

.footertxt {
  color: black;
  display:flex;
  flex-direction:row;
  align-items:flex-end;
  justify-content: flex-end;
}

.end {
width:100%;
min-height:50px;
background-color: rgb(85, 85, 85);
justify-content:space-around;
align-items:flex-start;
display: flex;
flex-direction:row;
flex-wrap:wrap;
color:black;
margin-top:-60px;
}

.end h2 {
  display:flex;
  flex-direction: row;
font-size:16px;
}

@media (min-width: 250px) and (max-width: 980px) {
  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    font-size: 20px;
  }

  .area h1 {
    font-size: 4vw;
    line-height:60px;
  }

  .area h3 {
    margin-top: 10px;
  }

  /* .container1 img {
    width: 60%;
  } */
  .navbar {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    justify-content: center;
    padding: 0;
    min-height: 250px;
    margin-bottom: 30px;
  }
  .search {
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 50%;
    margin: 0 10px;
  }

  .box {
    width: 100%;
    margin-bottom: 20px;
    margin:30px;
  }

  .try {
    width: 200px;
    margin: 0 10px;
    font-size:17px;
    min-height:50px;
  }

  .search1 {
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 50%;
    margin: 0 10px;
    margin-bottom: 40px;
    color: black;
  }

h4 {
  color:black;
}

  .box1 {
    width: 100%;
    margin-bottom: 20px;
    margin:30px;
  }

  .try1 {
    width: 200px;
    margin: 0 10px;
    font-size:17px;
    min-height:50px;
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  .text h1 {
    font-size: 2rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .text p {
    font-size: 1.2rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .quest .textbox {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .quest {
    width: 80%;
    min-height: 75px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.parent {
  align-self: center;
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 0rem 0rem 1rem 20rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 200px;
  grid-row-gap: 0px;
  align-content: center;
  text-align: center;
  }
  .icons{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    padding: 0px 40px 0px 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 0px;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  .icons a{
    color: black; 
    border: 2px solid;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 8px;
    &:hover {
      color:#0fbcf9;
    } 
  }
  .icons a :hover{
    opacity: 1;
    color: #0fbcf9 ;
  }

  #mail {
    font-size: 18px;
    text-align: left;
  }
  .mail  a{
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    &:hover {
      color:#0fbcf9;
    }
  }
  .bottomnav{
  color: black;
  background-color: transparent;
  text-decoration: none;
  justify-content:space-around;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  }
  #use a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    &:hover {
      color:#0fbcf9;
    }
       
  }
  #Social{
    font-size: 15px;
  } 
  #icons {
    line-height: 50px; 
  }
  /* #link{
    vertical-align: middle;
    font-size: 50px;
    padding:5px;;
  } 
  #sky{
    vertical-align: middle;
    font-size: 50px;
    padding:5px;;
  } */
  /* #add{
    color: black;
    text-decoration: none;
  } */

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.menu {
  display: grid;
  grid-template-rows: 40px max-content;
  gap: 10px;
}

/* dropdown */
.menu {
  display: grid;
  grid-template-rows: 40px max-content;
  gap: 10px;
}

.toggle {
  all: unset;
  background-color: rgb(0, 0, 0);
  color: white;
  width: 800px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Times New Roman', Times, serif;
  border: 2px solid #0fbcf9;
}

.toggle::after {
  content: "";
  width: 6px;
  height: 6px;
  border-width: 0 3px 3px 0;
  border-style: solid;
  transform: rotate(45deg);
  transition: 0.4s;
  font-family: 'Times New Roman', Times, serif;
}

.list {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  list-style: none;
  display: grid;
  grid-template-rows: repeat(4, 40px);
  border-radius: 5px;
  overflow: hidden;
  height: 0;
  transition: 0.4s;
  padding-right: 40px;
  font-family: 'Times New Roman', Times, serif;
}

.list-item {
  display: flex;
  align-items: center;
  text-align: left;
  /* padding-left: 10px; */
  transition: 0.4s, transform 0.4s var(--delay);
  transform: translateX(-100%);
  user-select: none;
  /* cursor: pointer; */
}

.list-item:hover {
  background-color: dodgerblue;
  color: #fff;
}

.toggle:focus::after {
  transform: rotate(225deg);
}

.toggle:focus ~ .list {
  height: 85px;
  padding-top: 40px;
}

.toggle:focus ~ .list .list-item {
  transform: translateX(0);
}

  /* grid */
.gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery [class*="gallery-icon"] {
  border: 3px solid;
  height: 625%;
  width: 1250%;
  margin: 10px;
  display: flex;
}

#gallery-icon {
  line-height: 50px; 
  border: 3px solid; 
  padding: 5px 5px 5px 5px;
  margin: 0px 50px 20px 50px;
  border-radius: 10px;
  border: 4px solid #0fbcf9;
  background-color:  #ffffff9c;
  box-shadow: 5px 7px #666;
  flex-grow: 1;
  flex-basis: 200;
  /* &:hover {
    color:#0fbcf9;
  } */
}
#gallery-icon a {
  vertical-align: middle;
  font-size: 15px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.dash{
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  padding: 2rem 0rem 1rem 0rem;
}
.dash img{
  display: block;
  max-width: 45%;
  max-height: 45%;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #0fbcf9;
  border-radius: 5px;
  background-color:  #ffffff9c;
  box-shadow: 5px 7px #666;
    }
