*{
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  margin: 0;
  font-family: 'Jost', sans-serif;
  /* background-color: #050505; */
  /* background: linear-gradient(to right, #d7d2cc 0%, #304352 100%);   */
  background-color: #2b4162;
  background-image: linear-gradient(to left, #2b4162 0%, #12100e 100%);
  color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;

 /* no highlight */
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;

 
}



.container{
  max-width: 1100px;
  margin: auto;
}

.container h1{
  text-align: center;
  /* margin-bottom: 3.5rem; */
  font-size: 2.4rem;
  word-spacing: 0.3rem;
  color: #0fbcf9;
}

.container h5{
text-align: center;
margin-bottom: 3.5rem;
font-size: 1.0rem;
/* color: #22262C; */
color:#ffffff;
}

.cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1rem;
  color: white;
}

.card{
  /* background-color: #ffffff; */
  padding: 1rem 2rem;
  text-align: center;
  position: relative;
  border-radius: 10px;
  /* border: 5px solid #0d89b6; */
  box-shadow: 0px 0px 30px 5px rgba(177, 132, 132, 0.4);
}
.card span{
  font-size: 1.1rem;
}

.card h2, .card h1{
  text-align: center;
  font-size: 20px;
}

.card ul {
  margin-top: 3rem;
  list-style: none; 
  text-align: left;
  margin-bottom: 7rem;
}

.card ul li{
  line-height: 2.5;
}

.card ul li::before {
  content: "\2022"; 
  color:  #0fbcf9;
  font-weight: bold; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; 
}
.card .btn{
  font-size: 1rem;
  border: none;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid  #0fbcf9;
  padding: 0.8rem 2rem;
  position: absolute;
  bottom: 0;
  /* left: 6rem; */
  left: 8rem;
  margin-bottom: 2rem;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.card .btn:hover{
  background-color:  #0e95c6;
  transition: all 0.3s ease;
}
.currency {
margin-top: 10px;
vertical-align: top;
font-size: 2rem;
font-weight: 700;
line-height: 1;
}

@media(max-width: 1000px){
  .cards{
      grid-template-columns: repeat(2,1fr);
      grid-gap: 1rem;
  }
}

@media(max-width: 675px){
  .cards{
      grid-template-columns: 1fr;
      grid-gap: 1rem;
  }
}

/* fixed navbar */
.fixed-nav-bar {
position: fixed;
top: 0;
left: 0;
right: 0;
width: 100%;
height: 75px;
/* background:  linear-gradient(to right, #0f2027, #203a43, #2c5364);    */
background: black;
text-align: right;
padding-top: 10px;

}

li a {
  flex: 1;
  /* background-color: #dadada; */
  color: #fff;
  border: 1px solid;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

li a:hover,
li a:focus {
  background-color: #fff;
  color: #333;
}

.content {
margin-top: 20px;
}
.fixed-nav-bar li, .fixed-nav-bar a { 
height: 10px;
line-height: 10px;
padding-top: 13px;
}
.menu-items {
display: inline-block;
padding-right:  100px;

}
.menu-items li {
display: inline-block;  
margin-right: 2px;
margin-left: 2px;
}
.menu-items a {
  text-decoration: none;
  font-size: 15px;
  /* color: white; */
  color: rgb(255, 255, 255);
  border: 1rem solid; 
  padding: 10px 10px 10px 10px;
  margin: 5px;
  border-width: 2px;
  border-radius: 25px;
  &:hover {
  color:#0fbcf9;
    }
  }
  .menu-items a :hover{
  opacity: 1;
  color: #0fbcf9 ;
  }
  .menu-items i{
    vertical-align: middle;
  }
img{
display: block;
max-width: 40%;
max-height: 40%;
margin-left: auto;
margin-right: auto;

}
.logo{
max-width: 50%;
max-height: 50%;
border-radius: 50%;
float: left;
position: relative;
align-items: center;
justify-content: space-between;
background-color: transparent;
align-self: center;
padding-left: 150px;
padding-top: 10px;
}

/* Features */
.card1{
/* background-color: #ffffff; */
color: #ffffff;
text-align: left;
position: relative;
border-radius: 10px;
text-align: justify;
text-justify: inter-word;
}
.card1 h3{
font-size: 20px;
text-align: center;
}
.card1 ul li::before {
content: "\2022"; 
color:  #0fbcf9;
display: inline-block; 
width: 1em; 
margin-left: -1em; 
}
